<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.calendar.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="idx" parameterType="dto.RegisterDTO">
        INSERT INTO user VALUE(#{name}, #{phone}, #{reg_date}, #{reg_id}, #{change_date}, #{change_id});
    </insert>

    <select id="getUser" parameterType="String">
        SELECT * FROM user WHERE phone = #{phone}
    </select>
</mapper>